.page{
    display: block;
    padding: 1rem;
    margin: 1rem;
    background-color: #dedede;
}
h1{
    padding:0.5rem 2rem;
}

.person{
    list-style: none;
    border-top: 1px solid #999;
    padding: 0.2rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}
.person:hover,
.person.active{
    background-color: aliceblue;
}
.person:last-child{
    border-bottom: 1px solid #999;
}

.details{
    list-style: none;
    padding: 0.2rem 1rem 1.2rem 1rem;
    margin: 0.5rem 1rem 0.8rem;
}
.lastAccess{
    color:lightskyblue;
}
.avatar{
    
}
.name{
    
}
.isMobile{
    
}